<section class="login-section">
  <h1 class="head">Login Pannel</h1>
  <input type="text" class="input-box" value="" placeholder="User Name">
  <input type="password" class="input-box" value="" placeholder="Password">
  <div class="button-wrapper">
    <input type="submit" class="btn-primary input-button" value="Login">
	<input type="submit" class="btn-danger input-button" value="Register">
  </div>
  <a href="#" class="fg-password">Forget password</a>
  <div style="clear:both;"></div>
</section>